* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: content-box;
}

canvas {
  border: 1px solid #000000
}

.darkmode {
  background: darkgreen;
}

div {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}