* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: content-box;
  background: linear-gradient(to bottom, rgb(25, 104, 120) 0%, rgb(34, 172, 198) 100%);
  font-family: 'Permanent Marker', cursive;
  font-size: 28px;
  color: #F6B094;
}

h1 {

  /* color: white; */
  text-shadow: black 0.1em 0.1em 0.2em
    /* text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F, 0 0 0.2em #87F */
}

button {
  background: #F6B094;
  width: 200px;
  height: 80px;
  font-size: 26px;
  font-family: 'Chilanka', cursive;
  font-weight: bold;
  border-radius: 10px;
  border: 0;
  margin-top: 20px;

  border: 2px solid #F8C6B1;
  outline: 1px solid;
  outline-color: rgba(49, 138, 172, 0.4);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);

}

button:hover {
  box-shadow: inset 0 0 20px #F19C82, 0 0 20px #F19C82;
  outline-color: #F19C82;
  outline-offset: 10px;
  text-shadow: 1px 1px 6px #fff;

}

canvas {
  border: 1px solid #000000;
  background: linear-gradient(to bottom, rgb(27, 27, 27) 0%, rgb(49, 49, 49) 100%);

}

div {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

#game {
  display: none;
}

.canvas-elements {
  display: none
}